:root{
    --primary-color : #4290F5;
    --hover-effect : #204575;
    --secondary-color : #0E1F36;
    --dim-primary-color : #3B81DB;
    --dimmer-primary-color : #316AB5;
    --white : white;
    --black : black;
    --red : red;
    --dark-grey : rgb(87, 87, 87);
    --grey : rgb(108, 140, 177);

    --success-bg-color: rgb(47, 255, 141);
    --success-border-color: rgb(28, 116, 68);
    --success-color: rgb(0, 117, 53);

    --danger-bg-color: rgb(255, 93, 93);
    --danger-border-color: rgb(128, 34, 34);
    --danger-color: rgb(136, 3, 3);

    --warning-bg-color: rgb(255, 255, 95);
    --warning-border-color: rgb(139, 139, 1);
    --warning-color: rgb(88, 88, 0);

    --alert-border-color: rgb(1, 63, 143);
    --alert-bg-color: rgb(81, 156, 255);
    --alert-color: rgb(0, 60, 255);

    --heading-1: 48px;
    --heading-2: 32px;
    --heading-3: 24px;
    --heading-4: 16px;
    --heading-5: 8px;
    --line-height-1: 64px;
    --line-height-2: 40px;
    --line-height-3: 32px;
    --line-height-4: 24px;
    --line-height-5: 16px;
}

#success-alert h2,#danger-alert h2,#warning-alert h2,#info-alert h2{
    margin: 0.5rem 0 0.5rem 0;
    display: inline-block;
}

#success-alert a,#danger-alert a,#warning-alert a,#info-alert a{
    font-size: xx-large;
    position: relative;
    right: 0;
    margin-right: 0;
    padding-right: 0;
    display: inline-block;
}
#success-alert,#danger-alert,#warning-alert,#info-alert{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 12px;
    border-radius: 0.75rem;
    width: 50%;
    border-bottom: 5px solid;
    border-right: 4px solid;
}


#success-alert{
    background-color: rgb(47, 255, 141);
    border-color: rgb(28, 116, 68);
    color: rgb(0, 117, 53);
}

#danger-alert{
    background-color: rgb(255, 93, 93);
    border-color: rgb(128, 34, 34);
    color: rgb(136, 3, 3);
}

#warning-alert{
    background-color: rgb(255, 255, 95);
    border-color: rgb(139, 139, 1);
    color: rgb(88, 88, 0);
}

#info-alert{
    border-color: rgb(1, 63, 143);
    background-color: rgb(81, 156, 255);
    color: rgb(0, 60, 255);
}

#success-alert a:hover{
    color: red;
}

#danger-alert a:hover{
    color: red;
}

#warning-alert a:hover{
    color: red;
}

#info-alert a:hover{
    color: red;
}

.circular-x-large-avatar{
    box-shadow: 5px 5px 15px var(--black);
    margin: 1rem;
    height: 8rem;
    border-radius: 50%;
}

.circular-large-avatar{
    box-shadow: 5px 5px 15px var(--black);
    height: 6rem;
    border-radius: 50%;
    margin: 1rem;
}

.circular-small-avatar{
    box-shadow: 5px 5px 15px var(--black);
    margin: 1rem;
    height: 4rem;
    border-radius: 50%;
}

.circular-x-small-avatar{
    box-shadow: 5px 5px 15px var(--black);
    margin: 1rem;
    height: 3rem;
    border-radius: 50%;
}

.square-x-large-avatar{
    box-shadow: 5px 5px 15px var(--black);
    margin: 1rem;
    height: 8rem;
    border-radius: 1rem;
}

.square-large-avatar{
    box-shadow: 5px 5px 15px var(--black);
    height: 6rem;
    border-radius: 1rem;
    margin: 1rem;
}

.square-small-avatar{
    box-shadow: 5px 5px 15px var(--black);
    margin: 1rem;
    height: 4rem;
    border-radius: 1rem;
}

.square-x-small-avatar{
    box-shadow: 5px 5px 15px var(--black);
    margin: 1rem;
    height: 3rem;
    border-radius: 1rem;
}

.placeholder-x-large-avatar{
    box-shadow: 5px 5px 15px var(--black);
    margin: 1rem;
    height: 8rem;
    border-radius: 50%;
}

.placeholder-large-avatar{
    box-shadow: 5px 5px 15px var(--black);
    height: 6rem;
    border-radius: 50%;
    margin: 1rem;
}

.placeholder-small-avatar{
    box-shadow: 5px 5px 15px var(--black);
    margin: 1rem;
    height: 4rem;
    border-radius: 50%;
}

.placeholder-x-small-avatar{
    box-shadow: 5px 5px 15px var(--black);
    margin: 1rem;
    height: 3rem;
    border-radius: 50%;
}

.x-large-avatar-placeholder-text{
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    font-size: xx-large;
    width: 8rem;
    box-shadow: 5px 5px 15px var(--black);
    margin: 1rem;
    height: 8rem;
    border-radius: 50%;
}

.large-avatar-placeholder-text{
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    font-size: x-large;
    width: 6rem;
    box-shadow: 5px 5px 15px var(--black);
    height: 6rem;
    border-radius: 50%;
    margin: 1rem;
}

.small-avatar-placeholder-text{
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    font-size: larger;
    width: 4rem;
    box-shadow: 5px 5px 15px var(--black);
    margin: 1rem;
    height: 4rem;
    border-radius: 50%;
}

.x-small-avatar-placeholder-text{
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    font-size: large;
    width: 3rem;
    box-shadow: 5px 5px 15px var(--black);
    margin: 1rem;
    height: 3rem;
    border-radius: 50%;
}

.status-badge{
    margin: 1rem;
    background-image: url(assets/profile.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 10rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    color: rgba(240, 248, 255, 0);
    position: relative;
}

.badge{
    height: 0.75rem;
    width: 0.75rem;
    position: absolute;
    bottom: 1rem;
    right: 0.1rem;
    border-radius: 50%;
    border: 0.25rem solid var(--dim-primary-color);
} 

.online-badge{
    background-color: var(--success-bg-color);
}

.idle-badge{
    background-color: var(--warning-bg-color);
}

.dnd-badge{
    background-color: var(--danger-border-color);
}

.icon-container{
    position: relative;
    margin: 1rem;
}

.icon{
    padding: 0.5rem;
    height: 2rem;
}

.icon-badge{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--warning-bg-color);
    height: 1rem;
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    border: none;
    border-radius: 50%;
}

.button{
    padding: 0.75rem 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    border: none;
    color: var(--white);
    background-color: var(--hover-effect);
}

.secondary{
    background-color: var(--grey);
}

.danger{
    background-color: var(--danger-color);
}

.success{
    background-color: var(--success-color);
}

.outline{
    border: 2px solid var(--hover-effect);
    background-color: var(--dim-primary-color);
}

.outline-secondary{
    border: 2px solid var(--grey);
    background-color: var(--dim-primary-color);
}

.outline-danger{
    border: 2px solid var(--danger-color);
    background-color: var(--dim-primary-color);
}

.outline-success{
    border: 2px solid var(--success-color);
    background-color: var(--dim-primary-color);
}
.icon-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.icon-button img{
    height: 1.25rem;
}

.link-button{
    border: none;
    background-color: var(--dim-primary-color);
}

.link-button .link-tag{
    font-size: x-large;
    font-weight: 900;
    color: var(--hover-effect);
}

.link-button .link-tag:hover{
    color: var(--white);
    text-decoration: underline;
}

.floating-button{
    font-size: xx-large;
    display: flex;
    background-color: var(--hover-effect);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    color: var(--white);
    font-weight: 900;
}

.card-component{
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    padding: 0;
    border-radius: 2%;
    box-shadow: 3px 3px 15px var(--black);
    background-color: var(--white);
    position: relative;
}

.card-image{
    border-radius: 2% 2% 0 0;
}

.card-content{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    vertical-align: middle;
}

.card-component .card-heading{
    color: var(--primary-color);
    margin-bottom: 0;
    margin-top: 0;
}

.card-component .card-author{
    margin-top: 0.25rem;
    color: var(--dark-grey);
    margin-bottom: 0.5rem;
}

.card-component p{
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.card-component button{
    border: none;
}

.UI-Interaction{
    display: flex;
    padding-top: 0;
    margin-top: 0;
    justify-content: center;
    vertical-align: middle;
    align-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.UI-Interaction a:hover{
    color: var(--primary-color);
}

.card-links,.card-buttons{
    margin: auto;
}

.card-links{
    text-decoration: none;
}

.card-badge{
    position: absolute;
    background-color: var(--primary-color);
    margin: 0.5rem  0 0 0.5rem;
    padding: 0.25rem;
    font-size: 0.75rem;
    border-radius: 0.5rem;
    color: var(--white);
}

.dismiss-button{
    right: 0.5rem;
    margin: 0;
    top: 0.5rem;
    font-size: large;
    border-radius: 50%;
    padding: 0.05rem 0.3rem;
    opacity: 0.8;
}

.dismiss-button:hover{
    opacity: 1;
}

.card-overlay{
    position: absolute;
    top: 45%;
    bottom: 45%;
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    color: var(--white);
    opacity: 1;
    background-color: var(--red);
    width: 80%;
    z-index: 2;
    box-shadow: 2px 2px 15px var(--black) , -2px -2px 15px var(--black);
    text-align: center;
}

.text-overlay-card-component{
    opacity: 0.5;
}

.card-content-container{
    display: flex;
    flex-direction: column;
}

.card-main-content{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-content: center;
    margin: auto;
    padding: 0px;
    border-radius: 2%;
    background-color: var(--white);
}

.card-main-content .card-image{
    width: 50%;
    flex-shrink: 1;
    border-radius: 2% 0 0 0;
}

.card-description{
    margin-top: 1rem;
}

.card-title-texts{
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
}

.horizontal-card{
    gap: 0.5rem;
}

.horizontal-card .card-description{
    margin-left: 0.5rem;
}

.image{
    width: 20vw;
    height: 20vw;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px var(--black);
}

.circle-image{
    border-radius: 50%;
}

.responsive-image{
    width: 100%;
    height: auto;
}

.input-container,
.input-label-pair {
    display: flex;
    flex-direction: column;
}

.input-container{
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 15px var(--dark-grey);
}

.input-label {
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0.25rem 0;
}

.input-label-pair input {
    outline: 0;
    color: var(--black);
    border-radius: 10px;
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
    border: 2px solid;
}

.input-basic input {
    border-color: var(--hover-effect);
}

.input-success input {
    border-color: var(--success-color);
}

.input-validation-success {
    color: var(--success-color);
}

.input-error input {
    border-color: var(--danger-bg-color);
}

.input-validation-error {
    color: var(--danger-bg-color);
}

.input-warning input {
    border-color: var(--warning-border-color);
}

.input-validation-warning {
    color: var(--warning-border-color);
}

.input-slider > * {
    margin: 0 0.25rem;
  }

.input-label-pair input[type="range"] {
  accent-color: var(--hover-effect);
  padding: 0.25rem 0;
}

.input-slider {
  flex-direction: row;
  align-items: center;
}

.heading{
    font-weight: bold;
    width: 100%;
}

.heading-1{
    font-size: var(--heading-1);
    line-height: var(--line-height-1);
}

.heading-2{
    font-size: var(--heading-2);
    line-height: var(--line-height-2);
}

.heading-3{
    font-size: var(--heading-3);
    line-height: var(--line-height-3);
}

.heading-4{
    font-size: var(--heading-4);
    line-height: var(--line-height-4);
}

.heading-5{
    font-size: var(--heading-5);
    line-height: var(--line-height-5);
}

.small-text{
    font-size: 1rem;
}

.grey-text{
    color: var(--dark-grey);
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.list-spaced li {
    padding-top: 0.5rem;
    list-style-type: circle;
  }

.list-spaced {
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: white;
  }
  
  .list-head{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--black);
  }

  .list-stacked .list-head {
    color: var(--primary-color);
    margin-top: 0;
    margin-bottom: 0;
  }
    
  .list-stacked {
    border-radius: 0.5rem;
    border: 3px solid var(--black);
    list-style: none;
    padding-inline-start: 0;
    background-color: var(--white);
  }

  .list-stacked li:hover {
    background-color: var(--grey);
    cursor: pointer;
  }
  
  .list-stacked > * {
    padding: 1rem;
  }
  
  .list-stacked .list-head {
    background-color: var(--black);
    color: var(--primary-color);
  }
  
  .nav-bar{
      display: flex;
      flex-direction: row;
      background-color: var(--white);
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
  }

  .brand-tag{
      margin-right: auto;
      padding: 1rem;
      font-weight: bold;
      color: var(--hover-effect);
      font-size: var(--heading-2);
  }

  .brand-tag:hover{
    color: var(--primary-color);
  }

  .nav-input input{
      padding: 0.5rem;
      font-size: 1.2rem;
      border-radius: 0.25rem;
  }

  .nav-links{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.modal{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 1rem;
}

.ratings{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.rating{
    height: 1.5rem;
}
